<?xml version="1.0" encoding="utf-8"?>
<!-- Set debug = true to debug log4net issues-->
<log4net debug="false">
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ADONetAppender" />
    <!--Uncomment ConsoleAppender if you are modifying the logfile-->
    <!--<appender-ref ref="ConsoleAppender" />-->
  </root>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%property{log4net:HostName}  %property{ApplicationName} %date - %message%newline [%exception{NDC}] %-5level" />
    </layout>
  </appender>
  <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=XPS159550;Initial Catalog=EnterpriseLogging;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True" />
    <commandText value="INSERT INTO EnterpriseLog ([HostName],[ApplicationName],[MemberName],[DateTime],[CorrelationId],[Message],[Exception],[SourceFilePath],[SourceLineNumber],[Level]) VALUES
       (@HostName, @ApplicationName, @memberName, @log_date, @CorrelationId, @message, @exception, @sourceFilePath, @sourceLineNumber, @log_level)" />
    <parameter>
      <parameterName value="@HostName" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ApplicationName" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ApplicationName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@MemberName" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MemberName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@CorrelationId" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value ="CorrelationId"  />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@SourceFilePath" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{SourceFilePath}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@SourceLineNumber" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="SourceLineNumber" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
  </appender>
</log4net>
